.monument-card {
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  height: 100%;
}

.monument-name {
  color: var(--secondary-color);
  font-weight: 800;
  text-align: center;
}
