*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --main-color: #f3e5c3;
  --secondary-color: #174e4f;
}

body {
  margin: 0;
  font-family: "Sora Variable", sans-serif;
  background-color: var(--main-color);
}

h1,
h2 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
