.header-container {
  background-color: var(--secondary-color);
}

.header {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  color: var(--main-color);
  padding: 20px 20px;
  gap: 30px;

  @media (width > 500px) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 30px;
  }
}

.title {
  line-height: 1;
}

.title__main {
  text-shadow: 2px 2px 4px #00000080;

  @media (width > 500px) {
    font-size: 3rem;
  }
}

.title__secondary {
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1rem;
  text-align: center;

  @media (width > 500px) {
    font-size: 1.5rem;
    text-align: right;
  }
}
